# ==========================================================
# .gitignore — SmartBook · servicio-gestion-academica
# ==========================================================

### Spring Boot generado ###
HELP.md

### Maven ###
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### Node (por si en algún momento se agrega front o herramientas) ###
node_modules/
dist/

### Compilados ###
*.class
*.py[cod]
*.jar
*.war
*.app
*.exe

### IDEs ###
# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# Spring Tools / Eclipse
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# VS Code
.vscode/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### Tests / reportes ###
TEST*.xml

### Sistema operativo ###
.DS_Store
Thumbs.db

### Documentos / archivos pesados que no van al repo ###
*.pdf
*.docx

### Variables de entorno y secretos ###
.env
.env.*
!.env.example

### Logs ###
*.log
logs/

### Archivos multimedia grandes ###
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv
